<%-include header.ejs %>

<div class="back">
    <h1>Get Started with the Vehicle Rental Service</h1>
    <h3>A very easy assessible way to pace your way....</h3>
    <center><button class="submit">Explore More &#8594</button></center>
   </div>
   <h2 style="text-align:center;font-size:40px;margin-top: 32px;color:blue;">Choose the vehicle</h2>
   <div class="product">
     <img src="images/nano.png" alt="nano">
     <p>Tata Nano is a 4 seater Hatchback available invariants, 624 cc engine option and 1 transmission option : Manual. Other key specifications of the Nano include a Ground Clearance of 180 mm, Kerb Weight of 615 kg and Bootspace of 80 litres.</p>
        <button>Check</button>
        <img src="images/creta.png" alt="creta">
        <p>What type of car is Creta?
            Image result for creta car description
            seater SUV
            Hyundai Creta is a 5 seater SUV available in 27 variants, 3 engine options that are BS6 compliant and 2 transmission options: Manual & Automatic.</p>
        <button>Check</button>
        <img src="images/santro.jpg" alt="santro">
        <p>Hyundai Santro is a 5 seater Hatchback available in 5 variants, a 1086 cc, BS6 and a single Manual transmission. Other key specifications of the Santro include a kerb weight of and boot space of 235 Liters.</p>
        <button>Check</button>
        <img src="images/suv.jpg" alt="suv">
        <p>What features makes a car SUV?
            A sport utility vehicle or SUV is a car classification that combines elements of road-going passenger cars with features from off-road vehicles, such as raised ground clearance and four-wheel drive.</p>
        <button>Check</button>
        <img src="images/van.png" alt="van">
        <p> More than eight seats. A double cab (a separate area for the drivers and passengers from the tail end of the car) A pick-up bed at the back, designed specifically for cargo (with or without a roof)</p>
        <button>Check</button>
        <img src="images/jeep.jpg" alt="jeep">
        <p>A jeep is a rugged car made for driving in difficult conditions, like unpaved roads and across sand.What is Jeep known for?
            Jeeps have long been famous for their power, durability, and ability to handle difficult terrain off-road. What many people don't know is that they're also incredibly driveable on-road vehicles.</p>
        <button>Check</button>
     </div>


   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="padding: 25px;"><path fill="#87ceeb" fill-opacity="1" d="M0,320L21.8,277.3C43.6,235,87,149,131,128C174.5,107,218,149,262,149.3C305.5,149,349,107,393,128C436.4,149,480,235,524,229.3C567.3,224,611,128,655,128C698.2,128,742,224,785,240C829.1,256,873,192,916,176C960,160,1004,192,1047,208C1090.9,224,1135,224,1178,202.7C1221.8,181,1265,139,1309,122.7C1352.7,107,1396,117,1418,122.7L1440,128L1440,0L1418.2,0C1396.4,0,1353,0,1309,0C1265.5,0,1222,0,1178,0C1134.5,0,1091,0,1047,0C1003.6,0,960,0,916,0C872.7,0,829,0,785,0C741.8,0,698,0,655,0C610.9,0,567,0,524,0C480,0,436,0,393,0C349.1,0,305,0,262,0C218.2,0,175,0,131,0C87.3,0,44,0,22,0L0,0Z"></path></svg>
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="padding: 25px;"><path fill="#87ceeb" fill-opacity="1" d="M0,320L21.8,277.3C43.6,235,87,149,131,128C174.5,107,218,149,262,149.3C305.5,149,349,107,393,128C436.4,149,480,235,524,229.3C567.3,224,611,128,655,128C698.2,128,742,224,785,240C829.1,256,873,192,916,176C960,160,1004,192,1047,208C1090.9,224,1135,224,1178,202.7C1221.8,181,1265,139,1309,122.7C1352.7,107,1396,117,1418,122.7L1440,128L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z"></path></svg>
   
   <%-include footer.ejs %>
